<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
        <meta charset="utf-8">
        <meta name="description" content="This is my blog. It contains my mailing address, and other information like contact info.">
        <style>
        div{
            align-content: left;
            margin-left: 10%;
            margin-right: 10%;
            }
        table{
            width: 50%;
            border-collapse: collapse;
            text-align: left;
        }
        th {
            background-color: darkslategray;
            color: #f2f2f2;
            padding: 5px;
        }
        tr{
            padding: 8px;
            margin-left: 5px;
        }
        h3{
            color: darkslategray;
        }
        </style>
    </head>
    <body style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <div id="content" >
            <div id="header">
                <a href="/">Home</a> |
                <a href="/contact">Contact</a> |
                <a href="/hello">Favorite</a> 
            </div>
            <h1 style="color: darkslategray"> Michael Jordan </h1>
            <img src="nobody_m.original.jpg" alt="Profile Picture" height="200" width="150">
            <p>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p><br>
            <h3>Educational Qualification:</h3>
            <table>
                <thead>
                    <tr>
                    <th>Year</th>
                    <th>PPG</th>
                    <th>MVP</th>
                    </tr>
                </thead>
                <tr>
                    <td>2011</td>
                    <td>31.5</td>
                    <td>yes</td>
                </tr>
                <tr>
                    <td>2011-2014</td>
                    <td>33.2</td>
                    <td>yes</td>
                </tr>
                <tr>
                    <td>2017</td>
                    <td>35</td>
                    <td>yes</td>
                </tr>
            </table><br>
            <ul>
                <li>2011 High School Degree</li>
                <li>2011-2014 Bachelor's Degree</li>
                <li>2017 Coding Bootcamp(Current)</li>
            </ul><br>
            <a href="https://www.youtube.com/watch?v=EyQNSv4PtZc"> Click for awesome highlight video</a>
            <h3>Hobbies</h3>
            <ul style="list-style-type:square">
                <li>Singing</li>
                <li>Dancing</li>
                <li>Reading Books</li>
            </ul>
            <h3>Favorite TV Shows</h3>
            <ul style="list-style-type:square">
                <li>Once Upon a Time</li>
                <li>Revolution</li>
                <li>Walking Dead</li>
                <li>Flash</li>
            </ul>
            <form>
                <h3>Please take this short survey</h3><br>
                <label for="email">Email</label>
                <input type="email" id="email"><br>
                <input type="radio" name="emails">Yes, please send me lots of emails.
                <input type="radio" name="emails">No, don't send me any emails.<br>
                <h3>How did you hear about us?</h3>
                <input type="checkbox" id="facebook"> Facebook<br>
                <input type="checkbox" id="newspaper"> Newspaper<br>
                <input type="checkbox" id="referral"> Referral<br><br>
                <input type="submit" name="Submit"> 
            </form><br>   
            <a href="#top">Back to Top</a> <br>
        </div>
    </body>
</html>
            

