<html>
    <head>
        <title>
            Main
        </title>
       
    </head>
    <body>
         <form action='/process' method='post'>
            <table>
                <tr>
                    <th style="text-align:center" colspan="2"> What is your name? </th>
                </tr>
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td><input type="submit" name="submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>