<html>
    <head>
        <title>
            Main
        </title>
    </head>
    <body>
         <form action='/ninja' method='post'>
            <table>
                <tr>
                    <th style="text-align:center" colspan="2"> About ninja </th>
                </tr>
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td colspan="2"><textarea rows="4" cols="50" name="about"></textarea></td>
                </tr>
                <tr>
                    <td><input type="submit" name="submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>